@font-face {
	font-family: olde-stencil;
	src: url(/olde-stencil.ttf);
}

html {
	background-image: linear-gradient(#101030, #304070);
	background-attachment: fixed;
}

body {
	display: block;
	margin: auto;
	padding: 10%;
	padding-top: 10%;
	padding-bottom: 350px;
	line-height: 1.8em;

	color: white;

	font-size: 0.44cm;
	font-family: sans;

	background-image: url('/img/pattern.png');
	background-size: 70px;
	background-repeat: repeat-x;
	background-position: bottom;
}

body > * {
	max-width: 1000px;
	margin: 30px auto;
	margin-left: auto;
	margin-right: auto;
}

.img {
	max-width: calc(100% - 20px - 2px);
	width: 500px;
}

.img, .category {
	display: block;
	margin: 10px auto;
	padding: 10px;
	border: solid 1px #76b;
}

.img:target {
	width: 800px;
}

.img:target, .img:hover, .category:active, .category:hover {
	background-color: black;
}

.category > * {
	background-position: center center;
	background-size: cover;
	line-height: 300px;
	text-align: center;
	font-size: 2em;
}

.img > * {
	width: 100%;
}

a {
	text-decoration: none;
	text-shadow: 0.1em 0.2em #000;
}

h1:first-letter, h2:first-letter, h3:first-letter {
	font-family: olde-stencil;
	font-size: 1.5em;
	float: left;
}

header img {
	margin: auto;
	display: block;
}

h1, h2, h3 {
	margin-top: 3em;
}

a {
	color: inherit;
}
