@font-face {
	font-family: olde-stencil;
	src: url(/olde-stencil.ttf);
}

html {
	background-image: linear-gradient(#235, #357);
	background-attachment: fixed;
}

body {
	display: block;
	margin: auto;
	padding: 10%;
	padding-top: 10%;
	padding-bottom: 350px;
	line-height: 1.8em;

	color: white;

	font-family: sans;
	font-size: 0.45cm;

	background-image: url('/img/pattern.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

body > * {
	max-width: 1000px;
	margin: 50px auto;
	margin-left: auto;
	margin-right: auto;
}

.img {
	max-width: calc(100% - 20px - 2px);
	width: 500px;
}

.img:target {
	background-color: black;
	width: 100%;
}

.img, .category {
	display: block;
	margin: 10px auto;
	padding: 10px;
	border: solid 1px #78b;
}

.img > * {
	width: 100%;
}

a {
	text-decoration: none;
	text-shadow: 0.1em 0.2em #000;
}

.category > * {
	background-position: center center;
	background-size: cover;
	line-height: 300px;
	text-align: center;
	font-size: 2em;
}

body > *::first-letter {
	font-family: olde-stencil;
	font-size: 2em;
	float: left;
}

header img {
	margin: auto;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 3em;
}

a {
	color: inherit;
}
